body {
line-height:2em;
word-spacing:1px;
letter-spacing:.2px;
font:11pt Arial,Helvetica,"Lucida Grande",serif;
color:#000;
margin:0;
padding:0;
}

#primary-nav,#header,#breadcrumbs,#sidebar,.entry-meta,.post-nav,.post-pages,.content-left,.comments-box,#footer {
display:none;
visibility:hidden;
}

a:link,a:visited {
background:transparent;
color:#333;
text-decoration:none;
}

a:link[href^=http://]:after,a[href^=http://]:visited:after {
content:" \(" attr(href) "\) ";
font-size:11px;
}

a[href^=http://] {
color:#000;
}

.comments-box {
page-break-before:always;
}

.content-right {
width:100%;
}

p {
line-height:1.5em;
}

img.aligncenter,img.alignleft,img.alignright,img.alignnone {
clear:both;
display:block;
margin-left:auto;
margin-right:auto;
}

img.alignleft,.commentlist .avatar {
float:left;
margin:0 10px;
}

img.alignright {
float:right;
margin:0 0 0 10px;
}

img.alignnone {
margin:0;
}

.comments-box ul li,.comments-box ul li ul li .comments-box ol li,.comments-box ol li ol li,.commentlist li {
list-style:none;
}