html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,footer,header,hgroup,menu,nav,section,summary
{
	border:0;
	font:inherit;
	margin:0;
	padding:0;
	vertical-align:baseline;
}

a:focus
{
	outline:thin dotted;
	outline-offset:-2px;
}

img
{
	-ms-interpolation-mode:bicubic;
	border:0;
	max-width:100%;
	vertical-align:middle;
}

table
{
	border-collapse:collapse;
	border-spacing:0;
	font-size:12px;
	max-width:100%;
	width:100%;
}

html
{
	-ms-text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%;
	font-size:13px;
	line-height:1.84615em;
	overflow-y:scroll;
}

body
{
	background-color:#fff;
	border-top:5px solid #333;
	color:#333;
	font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
	margin:0;
	text-rendering:optimizeLegibility;
}

a
{
	color:#73870a;
	text-decoration:none;
}

a:visited
{
	color:#647700;
}

.site-main
{
	_width:72.286em;
	margin-bottom:4.5em;
	margin-left:auto;
	margin-right:auto;
	max-width:72.286em;
	padding-left:1.538em;
	padding-right:1.538em;
	zoom:1;
}

.main-navigation
{
	background-color:#73870a;
	color:inherit;
	margin-bottom:3em;
}

.site-header
{
	margin-bottom:3em;
}

.site-content
{
	display:inline;
	float:left;
	margin-right:2.12766%;
	width:74.46809%;
}

#sidebar
{
	display:inline;
	float:right;
	margin-left:-1.538em;
	margin-right:0;
	width:23.40426%;
}

h1,h2,h3,h4,h5,h6
{
	font-family:Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
	font-weight:400;
}

h1
{
	font-size:2.30769em;
	line-height:1.6em;
}

h2
{
	font-size:1.92308em;
	line-height:1.92em;
}

h3
{
	font-size:1.61538em;
	line-height:2.28571em;
}

h4
{
	font-size:1.38462em;
	line-height:2.66667em;
}

p
{
	margin:0 0 1.5em;
}

em
{
	font-style:italic;
}

small
{
	font-size:85%;
}

dfn
{
	font-style:italic;
	font-weight:700;
}

sub,sup
{
	font-size:75%;
	line-height:0;
	position:relative;
}

sup
{
	top:-.5em;
	vertical-align:sub;
}

sub
{
	bottom:-.25em;
	vertical-align:super;
}

abbr,acronym
{
	border-bottom:1px dotted #ddd;
	cursor:help;
	font-size:90%;
	text-transform:uppercase;
}

del
{
	color:#aaa;
	text-decoration:line-through;
	vertical-align:baseline;
}

pre
{
	background:#ff9;
	border-bottom:1px solid #ff2;
	border-top:1px solid #ff2;
	color:#990;
	margin:1.5em 0;
	padding:.75em .45em;
	white-space:0;
	word-wrap:break-word;
}

code
{
	background:#ff9;
	color:#990;
	font-size:11px;
	line-height:1.2em;
	padding:.3em;
}

pre,code,kbd,samp,tt
{
	font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
}

mark
{
	background:#ff0;
	color:#990;
	font-size:11px;
}

blockquote
{
	border-left:3px solid #eee;
	color:#aaa;
	font-family:Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
	font-style:italic;
	margin:1em 40px;
	padding-left:1.35em;
}

address
{
	display:block;
	font-style:italic;
	margin:0 0 1.5em;
}

ul,ol
{
	margin:1em 0;
	padding:0 0 0 2.25em;
}

ol
{
	list-style-type:decimal;
}

dl
{
	margin:0 1.625em;
}

dd
{
	margin-bottom:1.625em;
}

label
{
	font-size:12px;
	font-weight:700;
}

fieldset
{
	border:1px solid #ddd;
	font-size:12px;
	line-height:1.3em;
	margin:0 0 1.5em;
	padding:1.4em;
}

legend
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#f5f5f5;
	border:1px solid #ddd;
	border-radius:5px;
	display:block;
	font-weight:700;
	left:0;
	margin:0;
	padding:.3em 1.2em;
	position:relative;
	text-shadow:1px 1px 0 rgba(255,255,255,0.7);
	top:0;
}

table,td
{
	border:1px solid #e8e8e8;
	border-collapse:collapse;
	margin:1.5em 0;
	padding:5px 10px;
}

th
{
	background-color:#e8e8e8;
	border-right:1px solid #e0e0e0;
	color:#666;
	margin:5px 0 10px;
	padding:5px 10px;
	text-align:left;
	text-transform:uppercase;
}

img.alignright
{
	margin-top:.6em;
}

p img
{
	margin-top:8px;
}

embed,iframe,object
{
	max-width:100%;
	width:100%;
}

.nav
{
	display:inline;
	float:left;
	line-height:1;
	list-style:none;
	margin:0 2.12766% 0 0;
	padding:0;
	width:78.7234%;
}

.nav ul
{
	display:none;
	position:absolute;
	top:-999em;
	width:15em;
}

.nav li
{
	display:inline;
	float:left;
	position:relative;
}

.nav li:hover
{
	background:#333;
	color:#fff;
	outline:0;
	visibility:inherit;
}

.nav a
{
	background-color:inherit;
	color:#fff;
	display:block;
	padding:10px 15px;
	position:relative;
	text-decoration:none;
	word-wrap:break-word;
}

.nav li:hover ul
{
	left:0;
	top:2.5em;
	z-index:99;
}

.nav a:hover
{
	background:#333;
	color:#fff;
	outline:0;
	text-decoration:none;
}

.nav li:hover.arrow:after
{
	background-position:-10px -100px;
}

.nav li.arrow
{
	padding-right:1em;
}

.nav li.arrow:after
{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAABuAgMAAABaXts5AAAACVBMVEX///////////+OSuX+AAAAAnRSTlMAd7jyKacAAABLSURBVCjPY2AAA0YGBgUg6cCgASQDGLSAZAiDVgMDYyiD1gIYGyIOUQNWPwpGAfFANDRo1SoG1lCHVSug6YohhIGrgYFBgIEJRSEAXocLNRfFK6AAAAAASUVORK5CYII=) no-repeat 0 -100px;
	content:"";
	display:block;
	height:10px;
	position:absolute;
	right:7px;
	top:12px;
	width:10px;
}

.nav li li a:hover
{
	background-color:#444;
	color:#fff;
	text-decoration:none;
}

#searchform input::-webkit-input-placeholder
{
	padding-top:1px;
}

.site-title
{
	display:inline;
	float:left;
	font-family:Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
	font-size:2.69231em;
	font-style:italic;
	font-weight:400;
	line-height:1.37143em;
	margin-right:2.12766%;
	width:65%;
}

.site-title a:hover
{
	text-decoration:none;
}

.site-description
{
	display:inline;
	float:left;
	font-style:italic;
	margin-right:2.12766%;
	padding-top:12px;
	text-align:right;
	width:48.93617%;
}

.site-header .header-img img
{
	height:auto;
	max-width:100%;
}

.widget
{
	margin-bottom:20px;
	overflow:hidden;
}

.widget .widget-title
{
	border-bottom:1px solid #eee;
	display:block;
	font-size:1.15385em;
	font-weight:700;
	line-height:1.6em;
	margin-bottom:5px;
	padding-bottom:5px;
}

.widget ul li
{
	padding:0;
}

.widget ul li a
{
	color:#333;
	display:block;
	padding:3px 0;
}

.widget_links
{
	clear:both;
	overflow:hidden;
}

.widget_links ul li
{
	display:inline;
	float:left;
	margin-left:20%;
	margin-right:20%;
	margin-bottom: 10px;
	width:60%;
}

ul.children
{
	margin-left:0;
}

.site-footer
{
	border-bottom:5px solid #333;
	color:#fff;
}

.site-footer .footer-credits
{
	background-color:#73870a;
	color:inherit;
}

.site-footer .inside-footer
{
	_width:72.286em;
	margin-left:auto;
	margin-right:auto;
	max-width:72.286em;
	padding:15px 0;
	zoom:1;
}

.site-footer .footer-left
{
	display:inline;
	float:left;
	margin-right:2.12766%;
	width:48.93617%;
}

.site-footer .footer-right
{
	display:inline;
	float:right;
	margin-left:-1.538em;
	margin-right:0;
	text-align:right;
	width:48.93617%;
}

#footer-sidebar
{
	background-color:inherit;
	color:#111;
	margin-bottom:3em;
	position:relative;
}

#footer-sidebar .widget-footer
{
	display:inline;
	float:left;
	margin-right:2.12766%;
	width:23.40426%;
}

.clearfix:before,.clearfix:after
{
	content:"";
	display:table;
}

.clearfix
{
	zoom:1;
}

.alignright
{
	display:inline;
	float:right;
	margin-left:1.5em;
}

hr
{
	border-bottom:0;
	border-left:0;
	border-right:0;
	border-top:1px solid #eee;
	clear:both;
	height:1px;
	margin:1.5em 0;
	min-height:0;
}

.last
{
	margin-right:0;
	padding-right:0;
}

#breadcrumbs
{
	border-bottom:1px solid #eee;
	font-size:.92308em;
	line-height:2em;
	margin-bottom:2.25em;
	padding-bottom:.3em;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary,.site-header .header-img,.site-header .header-img a
{
	display:block;
}

audio:not([controls]),[hidden],input[type=search]::-webkit-search-decoration,.gallery br+br,.site-content .sticky .content-left,.screen-reader-text,span.says
{
	display:none;
}

nav ul,.nav *,.widget ul
{
	list-style:none;
	margin:0;
	padding:0;
}


a:hover,ins,.site-footer a:hover
{
	text-decoration:underline;
}

.site-main:after,.main-navigation .inside-primary-nav:after,.site-footer .inside-footer:after,#footer-sidebar .footer-sidebar-inner:after
{
	clear:both;
	content:"";
	display:table;
}

.main-navigation .inside-primary-nav,#footer-sidebar .footer-sidebar-inner
{
	_width:72.286em;
	margin-left:auto;
	margin-right:auto;
	max-width:72.286em;
	padding-left:1.538em;
	padding-right:1.538em;
	zoom:1;
}

#footer-sidebar .footer-4
{
	display:inline;
	float:right;
	margin-left:-1.538em;
	margin-right:0;
}

h5,h6
{
	font-size:1.15385em;
	line-height:3.2em;
}

b,strong,dt
{
	font-weight:700;
}

cite
{
	font-style:normal;
}

ul
{
	list-style:disc;
}

li ul
{
	margin:0;
}

.nav ul li
{
	width:100%;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,input:-moz-placeholder,textarea:-moz-placeholder,input.placeholder_text,textarea.placeholder_text
{
	color:#888;
}

textarea,select[size],select[multiple],select[size=0],select[size=1],img[class*=align],img[class*=wp-image-],img[class*=attachment-]
{
	height:auto;
}

.clearfix:after
{
	clear:both;
}

.nav a:visited,.site-footer a
{
	background-color:inherit;
	color:#fff;
}

.nav li li
{
	background:#333;
	color:#fff;
}

.site-branding
{
	margin-bottom:1.5em;
}

ul.children a:hover
{
	background:none;
	text-decoration:underline;
}

@media -webkit-min-device-pixel-ratio0 {
	select,select[size=0],select[size=1]
	{
		background-image:url(data:image/gif;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
		background-position:right center;
		background-repeat:no-repeat;
		padding-right:20px;
	}

	::-webkit-validation-bubble-message
	{
		-webkit-box-shadow:none;
		background:0;
		border:1px solid;
		border-color:#747474 #5e5e5e #4f4f4f;
		box-shadow:none;
		color:#fff;
		font:13px/17px "Lucida Grande",Arial,"Liberation Sans",FreeSans,sans-serif;
		height:16px;
		overflow:hidden;
		padding:15px 15px 17px;
		text-shadow:#000 0 0 1px;
	}

	::-webkit-validation-bubble-arrow,::-webkit-validation-bubble-top-outer-arrow,::-webkit-validation-bubble-top-inner-arrow
	{
		-webkit-box-shadow:none;
		background:#666;
		border:0;
		box-shadow:none;
	}
}

@media screen and max-width768px {
	#sidebar
	{
		display:inline;
		float:left;
		margin-right:0;
		margin-top:3em;
		width:100%;
	}

	#sidebar .widget
	{
		display:inline;
		float:left;
		margin-right:2.12766%;
		width:48.93617%;
	}

	#sidebar .widget:nth-child(2n+2)
	{
		clear:right;
		display:inline;
		float:right;
		margin-left:-1.538em;
		margin-right:0;
	}

	.site-content
	{
		width:100%;
	}
}

@media screen and min-width480px and max-width766px {
	.site-title,.site-description
	{
		display:block;
		margin:0;
		text-align:center;
		width:100%;
	}

	.site-description
	{
		padding-top:0;
	}

	#sidebar .widget_links
	{
		clear:none;
	}

	#sidebar .widget,#footer-sidebar .widget-footer
	{
		display:inline;
		float:left;
		margin-right:2.12766%;
		width:48.93617%;
	}

	#sidebar .widget:nth-child(2n+2),#footer-sidebar .widget-footer:nth-child(2n+2)
	{
		margin-right:0;
	}
}

@media screen and max-width600px {
	.nav
	{
		display:none;
	}

	.main-navigation
	{
		height:2.5em;
	}

	.inside-primary-nav .mobileMenu
	{
		display:inline;
		float:left;
		height:auto;
		margin-top:3px;
		padding:2px;
		width:50%;
	}
}

@media screen and max-width479px {
	.main-navigation
	{
		height:2.5em;
	}

	#sidebar .widget:nth-child(2n+2)
	{
		display:inline;
		float:left;
	}

	.site-title,.site-description
	{
		display:block;
		margin:0;
		text-align:center;
		width:100%;
	}

	.site-description
	{
		padding-top:0;
	}

	#sidebar .widget,#footer-sidebar .widget-footer
	{
		display:inline;
		float:left;
		margin-right:0;
		width:100%;
	}
}