html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0;
font:inherit;
vertical-align:baseline;
margin:0;
padding:0;
}

audio,canvas,video {
-moz-box-orient:vertical;
display:inline;
vertical-align:top;
zoom:1;
}

a:focus {
outline-offset:-2px;
outline:thin dotted;
}

img {
border:0;
max-width:100%;
-ms-interpolation-mode:bicubic;
vertical-align:middle;
}

table {
border-collapse:collapse;
border-spacing:0;
font-size:12px;
max-width:100%;
width:100%;
}

* html {
font-size:81.25%;
}

html {
font-size:13px;
line-height:1.84615em;
overflow-y:scroll;
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
-webkit-font-smoothing:antialiased;
}

body {
background-color:#fff;
border-top:5px solid #333;
color:#333;
font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
text-rendering:optimizeLegibility;
margin:0;
}

a {
color:#73870a;
text-decoration:none;
}

a:visited {
color:#647700;
}

.site-main {
zoom:1;
max-width:72.286em;
_width:72.286em;
margin-left:auto;
margin-right:auto;
padding-left:1.538em;
padding-right:1.538em;
margin-bottom:4.5em;
}

.main-navigation {
background-color:#73870a;
color:inherit;
margin-bottom:3em;
}

.site-header {
margin-bottom:3em;
}

.site-content {
width:74.46809%;
float:left;
margin-right:2.12766%;
display:inline;
}

#sidebar {
width:23.40426%;
float:right;
margin-right:0;
margin-left:-1.538em;
display:inline;
}

h1,h2,h3,h4,h5,h6 {
font-weight:400;
font-family:Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
}

h1 {
font-size:2.30769em;
line-height:1.6em;
}

h2 {
font-size:1.92308em;
line-height:1.92em;
}

h3 {
font-size:1.61538em;
line-height:2.28571em;
}

h4 {
font-size:1.38462em;
line-height:2.66667em;
}

p {
margin:0 0 1.5em;
}

em {
font-style:italic;
}

small {
font-size:85%;
}

dfn {
font-style:italic;
font-weight:700;
}

sub,sup {
font-size:75%;
line-height:0;
position:relative;
}

sup {
top:-.5em;
vertical-align:sub;
}

sub {
bottom:-.25em;
vertical-align:super;
}

abbr,acronym {
font-size:90%;
text-transform:uppercase;
border-bottom:1px dotted #ddd;
cursor:help;
}

del {
color:#aaa;
text-decoration:line-through;
vertical-align:baseline;
}

pre {
background:#ff9;
border-bottom:1px solid #ff2;
border-top:1px solid #ff2;
color:#990;
white-space:0;
word-wrap:break-word;
margin:1.5em 0;
padding:.75em .45em;
}

code {
background:#ff9;
color:#990;
font-size:11px;
line-height:1.2em;
padding:.3em;
}

pre,code,kbd,samp,tt {
font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
}

mark {
background:#ff0;
color:#990;
font-size:11px;
}

blockquote {
border-left:3px solid #eee;
color:#aaa;
font-style:italic;
font-family:Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
padding-left:1.35em;
margin:1em 40px;
}



q:before,q:after,blockquote:before,blockquote:after {
content:"";
}

address {
display:block;
font-style:italic;
margin:0 0 1.5em;
}

ul,ol {
margin:1em 0;
padding:0 0 0 2.25em;
}

ol {
list-style-type:decimal;
}

dl {
margin:0 1.625em;
}

dd {
margin-bottom:1.625em;
}

label {
font-weight:700;
font-size:12px;
}

fieldset {
border:1px solid #ddd;
font-size:12px;
line-height:1.3em;
margin:0 0 1.5em;
padding:1.4em;
}

legend {
background:#f5f5f5;
border:1px solid #ddd;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
font-weight:700;
display:block;
left:0;
position:relative;
text-shadow:1px 1px 0 rgba(255,255,255,0.7);
top:0;
margin:0;
padding:.3em 1.2em;
}









input,textarea {
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
-webkit-transition:all .2s linear;
-webkit-transition-delay:0;
-moz-transition:all .2s linear 0;
-o-transition:all .2s linear 0;
transition:all .2s linear 0;
}

select:focus,button:focus {
outline:5px auto 0;
outline-offset:-2px;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
}

button {
-webkit-appearance:none;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
-webkit-background-clip:padding;
-moz-background-clip:padding;
background-clip:padding-box;
background:#f2f2f2 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAAAAADhgtq/AAAAHElEQVQoz2P8z4ADsOCW+UeGnsFs2nDzz5AMHQA+JRlAyyOraAAAAABJRU5ErkJggg==) repeat-x;
background-image:linear-gradient(#fff,#f2f2f2);
border:1px solid #e6e6e6;
cursor:pointer;
color:#333;
font:bold 12px/1.3 "Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;
outline:0;
overflow:visible;
text-shadow:#FFF 0 1px 1px;
-webkit-transition:none;
-moz-transition:none;
-o-transition:none;
transition:none;
vertical-align:top;
width:auto;
margin:0;
padding:2px 10px 0;
}

button:hover {
background:#f4f4f4;
background-image:linear-gradient(#f2f2f2,#fff);
}

button:active {
box-shadow:inset 0 2px 2px rgba(0,0,0,0.15);
outline:0;
}

button {
padding-top:1px;
padding-bottom:1px;
}

textarea,select {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-background-clip:padding;
-moz-background-clip:padding;
background-clip:padding-box;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-appearance:none;
background-color:#fff;
border:1px solid #ccc;
color:#000;
outline:0;
text-align:left;
font-size:13px;
font-family:Arial,"Liberation Sans",FreeSans,sans-serif;
vertical-align:top;
height:auto;
margin:0;
padding:2px 4px 1px;
}


textarea:focus,select:focus {
outline:thin dotted \9;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
border-color:rgba(82,168,236,0.8);
}


textarea {
min-height:40px;
overflow:auto;
resize:vertical;
width:100%;
padding:5px;
}

optgroup {
color:#000;
font-style:normal;
font-weight:400;
font-family:Arial,"Liberation Sans",FreeSans,sans-serif;
}

table,td {
border:1px solid #e8e8e8;
border-collapse:collapse;
margin:1.5em 0;
padding:5px 10px;
}

th {
background-color:#e8e8e8;
border-right:1px solid #e0e0e0;
color:#666;
text-transform:uppercase;
text-align:left;
margin:5px 0 10px;
padding:5px 10px;
}





img.alignright {
margin-top:.6em;
}

p img {
margin-top:8px;
}



















embed,iframe,object {
max-width:100%;
width:100%;
}

.nav {
list-style:none;
line-height:1;
width:78.7234%;
float:left;
display:inline;
margin:0 2.12766% 0 0;
padding:0;
}

.nav ul {
display:none;
position:absolute;
top:-999em;
width:15em;
}

.nav li {
display:inline;
float:left;
position:relative;
}

.nav li:hover {
visibility:inherit;
background:#333;
color:#fff;
outline:0;
}

.nav a {
display:block;
position:relative;
background-color:inherit;
color:#fff;
text-decoration:none;
word-wrap:break-word;
padding:10px 15px;
}

.nav li:hover ul {
left:0;
top:2.5em;
z-index:99;
}

.nav a:hover {
background:#333;
color:#fff;
outline:0;
text-decoration:none;
}

.nav li:hover.arrow:after {
background-position:-10px -100px;
}

.nav li.arrow {
padding-right:1em;
}

.nav li.arrow:after {
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAABuAgMAAABaXts5AAAACVBMVEX///////////+OSuX+AAAAAnRSTlMAd7jyKacAAABLSURBVCjPY2AAA0YGBgUg6cCgASQDGLSAZAiDVgMDYyiD1gIYGyIOUQNWPwpGAfFANDRo1SoG1lCHVSug6YohhIGrgYFBgIEJRSEAXocLNRfFK6AAAAAASUVORK5CYII=) no-repeat 0 -100px;
content:"";
display:block;
height:10px;
position:absolute;
right:7px;
top:12px;
width:10px;
}



.nav li li a:hover {
background-color:#444;
color:#fff;
text-decoration:none;
}




#searchform input::-webkit-input-placeholder {
padding-top:1px;
}

.site-title {
font-size:2.69231em;
line-height:1.37143em;
font-family:Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
font-weight:400;
font-style:italic;
width:65%;
float:left;
margin-right:2.12766%;
display:inline;
}

.site-title a:hover {
text-decoration:none;
}

.site-description {
font-style:italic;
width:48.93617%;
float:left;
margin-right:2.12766%;
display:inline;
text-align:right;
padding-top:12px;
}




.site-header .header-img img {
height:auto;
max-width:100%;
}











































.widget {
margin-bottom:20px;
overflow:hidden;
}

.widget .widget-title {
border-bottom:1px solid #eee;
display:block;
font-weight:700;
font-size:1.15385em;
line-height:1.6em;
margin-bottom:5px;
padding-bottom:5px;
}

.widget ul li {
padding:0;
}

.widget ul li a {
color:#333;
display:block;
padding:3px 0;
}

.widget_links {
clear:both;
overflow:hidden;
}

.widget_links ul li {
display:inline;
float:left;
margin-right:5%;
width:45%;
}





























ul.children {
margin-left:0;
}
















.site-footer {
border-bottom:5px solid #333;
color:#fff;
}

.site-footer .footer-credits {
background-color:#73870a;
color:inherit;
}

.site-footer .inside-footer {
zoom:1;
max-width:72.286em;
_width:72.286em;
margin-left:auto;
margin-right:auto;
padding:15px 0;
}

.site-footer .footer-left {
width:48.93617%;
float:left;
margin-right:2.12766%;
display:inline;
}

.site-footer .footer-right {
width:48.93617%;
float:right;
margin-right:0;
margin-left:-1.538em;
display:inline;
text-align:right;
}

#footer-sidebar {
background-color:inherit;
color:#111;
margin-bottom:3em;
position:relative;
}

#footer-sidebar .widget-footer {
width:23.40426%;
float:left;
margin-right:2.12766%;
display:inline;
}


.clearfix:before,.clearfix:after {
content:"";
display:table;
}

.clearfix {
zoom:1;
}









.alignright {
display:inline;
float:right;
margin-left:1.5em;
}





hr {
border-top:1px solid #eee;
border-bottom:0;
border-right:0;
border-left:0;
clear:both;
height:1px;
min-height:0;
margin:1.5em 0;
}






.last {
margin-right:0;
padding-right:0;
}



















#breadcrumbs {
border-bottom:1px solid #eee;
font-size:.92308em;
line-height:2em;
margin-bottom:2.25em;
padding-bottom:.3em;
}



article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary,.site-header .header-img,.site-header .header-img a {
display:block;
}

audio:not([controls]),[hidden],input[type=search]::-webkit-search-decoration,.gallery br+br,.site-content .sticky .content-left,.screen-reader-text,span.says {
display:none;
}

nav ul,.nav *,.widget ul {
list-style:none;
margin:0;
padding:0;
}


button::-moz-focus-inner,input::-moz-focus-inner,button::-moz-focus-inner,optgroup::-moz-focus-inner {
border:0;
padding:0;
}


::-moz-selection,::selection {
background:#000;
color:#fff;
text-shadow:none;
}

a:hover,ins,.site-footer a:hover {
text-decoration:underline;
}

.site-main:after,.main-navigation .inside-primary-nav:after,.site-footer .inside-footer:after,#footer-sidebar .footer-sidebar-inner:after {
content:"";
display:table;
clear:both;
}

.main-navigation .inside-primary-nav,#footer-sidebar .footer-sidebar-inner {
zoom:1;
max-width:72.286em;
_width:72.286em;
margin-left:auto;
margin-right:auto;
padding-left:1.538em;
padding-right:1.538em;
}

#footer-sidebar .footer-4 {
float:right;
margin-right:0;
margin-left:-1.538em;
display:inline;
}

h5,h6 {
font-size:1.15385em;
line-height:3.2em;
}

b,strong,dt {
font-weight:700;
}

cite {
font-style:normal;
}

ul {
list-style:disc;
}




li ul {
margin:0;
}

.nav ul li {
width:100%;
}


input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,input:-moz-placeholder,textarea:-moz-placeholder,input.placeholder_text,textarea.placeholder_text {
color:#888;
}

textarea,select[size],select[multiple],select[size=0],select[size=1],img[class*=align],img[class*=wp-image-],img[class*=attachment-] {
height:auto;
}

.clearfix:after {
clear:both;
}



.nav a:visited,.site-footer a {
background-color:inherit;
color:#fff;
}

.nav li li {
background:#333;
color:#fff;
}



.site-branding {
margin-bottom:1.5em;
}











ul.children a:hover {
background:none;
text-decoration:underline;
}









@media -webkit-min-device-pixel-ratio0 {

select,select[size=0],select[size=1] {
background-image:url(data:image/gif;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
background-repeat:no-repeat;
background-position:right center;
padding-right:20px;
}

::-webkit-validation-bubble-message {
-webkit-box-shadow:none;
box-shadow:none;
background:0;
border:1px solid;
color:#fff;
font:13px/17px "Lucida Grande",Arial,"Liberation Sans",FreeSans,sans-serif;
overflow:hidden;
text-shadow:#000 0 0 1px;
height:16px;
border-color:#747474 #5e5e5e #4f4f4f;
padding:15px 15px 17px;
}

::-webkit-validation-bubble-arrow,::-webkit-validation-bubble-top-outer-arrow,::-webkit-validation-bubble-top-inner-arrow {
-webkit-box-shadow:none;
box-shadow:none;
background:#666;
border:0;
}
}

@media screen and (max-width:768px) {

#sidebar {
margin-top:3em;
width:100%;
float:left;
display:inline;
margin-right:0;
}

#sidebar .widget {
width:48.93617%;
float:left;
margin-right:2.12766%;
display:inline;
}

#sidebar .widget:nth-child(2n+2) {
float:right;
margin-right:0;
margin-left:-1.538em;
display:inline;
clear:right;
}


.site-content {
width:100%;
}
}

@media screen and (min-width:480px) and (max-width:766px) {
.site-title,.site-description {
display:block;
text-align:center;
width:100%;
margin:0;
}

.site-description {
padding-top:0;
}




#sidebar .widget_links {
clear:none;
}

#sidebar .widget,#footer-sidebar .widget-footer {
width:48.93617%;
float:left;
margin-right:2.12766%;
display:inline;
}

#sidebar .widget:nth-child(2n+2),#footer-sidebar .widget-footer:nth-child(2n+2) {
margin-right:0;
}
}

@media screen and (max-width:600px) {
.nav {
display:none;
}

.main-navigation {
height:2.5em;
}

.inside-primary-nav .mobileMenu {
display:inline;
float:left;
height:auto;
margin-top:3px;
width:50%;
padding:2px;
}
}

@media screen and (max-width:479px) {
.main-navigation {
height:2.5em;
}




#sidebar .widget:nth-child(2n+2) {
display:inline;
float:left;
}




.site-title,.site-description {
display:block;
text-align:center;
width:100%;
margin:0;
}

.site-description {
padding-top:0;
}


#sidebar .widget,#footer-sidebar .widget-footer {
width:100%;
float:left;
display:inline;
margin-right:0;
}
}