<!DOCTYPE html>
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en-US"><![endif]-->
<html class="no-js" lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="stylesheet" id="rumputhijau-style-css" href="/res/css/I.style.css" type="text/css" media="all"/>
    <link rel="stylesheet" id="rumputhijau-print-css" href="/res/css/I.print.css" type="text/css" media="print"/>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-17964121-1', 'auto');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>
  </head>
  <body class="home page page-id-4 page-template-default two-column right-sidebar">
    <div id="page" class="hfeed site">
      <nav role="navigation" id="primary-nav" class="site-navigation main-navigation clearfix">
        <div class="inside-primary-nav">
          <ul class="nav">
            <li class="current_page_item"><a href="/" title="Home">Home</a></li>
            <li class="page_item page-item-9">
              <a href="#">Practice Areas</a>
              <ul class='children'>
                <li class="page_item page-item-10"><a href="/practice-areas/corporations.html">Corporations</a></li>
                <li class="page_item page-item-13"><a href="/practice-areas/elder-law.html">Elder Law</a></li>
                <li class="page_item page-item-14"><a href="/practice-areas/estate-planning.html">Estate Planning</a></li>
                <li class="page_item page-item-12"><a href="/practice-areas/medicaid-planning.html">Medicaid Planning</a></li>
                <li class="page_item page-item-11"><a href="/practice-areas/partnerships.html">Partnerships</a></li>
                <li class="page_item page-item-8"><a href="/practice-areas/probate.html">Probate</a></li>
              </ul>
            </li>
            <li class="page_item page-item-5"><a href="/attorney-profile.html">Attorney Profile</a></li>
          </ul>
        </div>
        <!-- end .inside-primary-nav -->
      </nav>
      <!-- end #primary-nav -->
      <div id="main" class="site-main">
        <header id="masthead" class="site-header" role="banner">
          <div class="site-branding clearfix">
            <span class="site-title"><a href="/">Law Office of I. Michael Tucker</a></span>
            <div class="site-description last"></div>
          </div>
          <!-- end .site-branding -->
          <div class="header-img">
            <a href="/" title="Law Office of I. Michael Tucker" rel="home">
			  <img src="/res/img/default-header.jpg" width="950" height="200" alt="Law Office of I. Michael Tucker" />
            </a>
          </div>
          <!-- .header-img -->
        </header>
        <!-- #masthead .site-header -->
        <div id="breadcrumbs">
          <div class="crumbs"><a href="/" title="Home" rel="home">{% if page.entry_title != "Home" %}Home{% else %}<strong>Home</strong>{% endif %}</a>{% if page.page_section %} {% raw %}&raquo;{% endraw %} {{ page.page_section }} {% endif %}{% if page.entry_title != "Home" %} {% raw %}&raquo;{% endraw %} {{ page.entry_title }}{% endif %}</div>
        </div>
        <div id="primary" class="site-content">
          <div id="content" role="main">
            <article id="post-4" class="post-4 page type-page status-publish hentry">
              <header class="entry-header">
                <h1 class="entry-title">{{ page.entry_title }}</h1>
              </header>
              <!-- .entry-header -->
              <div class="entry-content">
{{ content }}
              </div>
            </article>
          </div>
        </div>
        <!-- #primary .site-content -->
        <aside id="sidebar" class="widget-area" role="complementary">
          <section id="text-3" class="widget widget_text">
            <div class="textwidget">
              <p><a href="https://maps.google.com/maps/place?q=Law+Office+of+I+Michael+Tucker&amp;hnear=Altamonte+Springs,+FL&amp;cid=13265488692239424252" target="_blank">Sun Trust Bank Building<br/>
                1404 El Cajon Court<br/>
                Winter Springs, FL 32701</a>
              </p>
              <p>Office: (407) 977-8836<br/>
                Fax: (407) 977-5252
              </p>
              <p>Email: <a href="mailto:michael@michaeltuckerlaw.com">michael@michaeltuckerlaw.com</a></p>
            </div>
          </section>
          <section id="linkcat-2" class="widget widget_links">
            <h5 class="widget-title">Professional Organizations</h5>
            <ul class='xoxo blogroll'>
			  <li><a href="http://www.eldercarematters.com/" rel="colleague" target="_blank"><img src="/res/img/eldercare.png" alt="Eldercare Matters Alliance" /></a></li>
			  <li><a href="http://www.longtermcarelink.net/a7veteransbenefitsspecialist.htm#FL" rel="colleague" target="_blank"><img src="/res/img/ncpc.png" alt="National Care Planning Council" /></a></li>
			  <li><a href="#" rel="colleague" target="_blank"><img src="/res/img/senior-vets.png" alt="Senior Veterans Service Alliance" /></a></li>
            </ul>
          </section>
        </aside>
        <!-- end #sidebar -->
      </div>
      <!-- end #main .site-main -->
      <footer id="colophon" class="site-footer" role="contentinfo">
        <aside id="footer-sidebar">
          <div class="footer-sidebar-inner clearfix">
            <div class="footer-1 widget-footer"></div>
            <div class="footer-2 widget-footer"></div>
            <div class="footer-3 widget-footer"></div>
            <div class="footer-4 widget-footer"></div>
          </div>
          <!-- .footer-sidebar-inner -->
        </aside>
        <!-- end #footer-sidebar -->
        <div class="footer-credits">
          <div class="inside-footer clearfix">
            <div class="footer-left">Theme by <a href="http://satrya.me/" title="Satrya">Satrya</a></div>
            <div class="footer-right">
              &copy; Copyright {{ site.time | date: '%Y' }} <a href="/" title="Law Office of I. Michael Tucker">Law Office of I. Michael Tucker</a>
            </div>
          </div>
          <!-- end .inside-footer -->
        </div>
        <!-- end .footer-credits -->
      </footer>
      <!-- end #colophon .site-footer -->
    </div>
    <!-- end #page .site -->
    <div style="display:none"></div>
    <!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js" defer="defer"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js" defer="defer"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js" defer="defer"></script>
    <script type="text/javascript" src="/res/js/plugins.js" defer="defer"></script>
    <script type="text/javascript" src="/res/js/menu_ui.js" defer="defer"></script>
  </body>
</html>
